# API
NEXT_PUBLIC_API_URL=https://lilia-backend.onrender.com

# Cloudinary (unsigned upload — pas de secret)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dun9ev7pw
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ml_default
